<section class="homepage-page">
  <div class="container display-flex">
    <div class="box col-12">
      {{#each blogPosts as |post|}}
        <a href="/blogpost/{{post.id}}">
          <div class="card flex-column box-shadow m-3">
            <div class="card-header display-flex justify-space-between">
              <h2>{{post.postTitle}}</h2>
              <p class="my-auto">Posted by
                {{user.username}}
                on
                {{format_date post.postDate}}</p>
            </div>
            <div class="card-body bg-light" style="flex: 1; color: black">
              <p>{{post.postContent}}</p>
            </div>
          </div>
        </a>
      {{/each}}
    </div>
  </div>
</section>